In [10]:
import pandas as pd
import numpy as np

In [11]:
df_conferences = pd.read_csv('../scraped_csv/nhl_details/conferencesAll.csv')
df_divisions = pd.read_csv('../scraped_csv/nhl_details/divisionsAll.csv')

In [12]:
df_conferences

   id     name                   link abbreviation shortName  active
0   6  Eastern  /api/v1/conferences/6            E      East    True
1   5  Western  /api/v1/conferences/5            W      West    True

In [13]:
df_conferences.columns

Index(['id', 'name', 'link', 'abbreviation', 'shortName', 'active'], dtype='object')

In [14]:
df_divisions

,id,name,nameShort,link,abbreviation,active,conference.id,conference.name,conference.link
0,17,Atlantic,ATL,/api/v1/divisions/17,A,True,6,Eastern,/api/v1/conferences/6
1,16,Central,CEN,/api/v1/divisions/16,C,True,5,Western,/api/v1/conferences/5
2,18,Metropolitan,Metro,/api/v1/divisions/18,M,True,6,Eastern,/api/v1/conferences/6
3,15,Pacific,PAC,/api/v1/divisions/15,P,True,5,Western,/api/v1/conferences/5

In [15]:
dropped_columns_conferences = [
    'shortName'
]
dropped_columns_divisions = [
    'abbreviation',
    'conference.link',
    'conference.name'
]
df_conferences = df_conferences.drop(columns=dropped_columns_conferences)
df_divisions = df_divisions.drop(columns=dropped_columns_divisions)

In [16]:
df_conferences

   id     name                   link abbreviation  active
0   6  Eastern  /api/v1/conferences/6            E    True
1   5  Western  /api/v1/conferences/5            W    True

In [17]:
df_divisions

   id          name nameShort                  link  active  conference.id
0  17      Atlantic       ATL  /api/v1/divisions/17    True              6
1  16       Central       CEN  /api/v1/divisions/16    True              5
2  18  Metropolitan     Metro  /api/v1/divisions/18    True              6
3  15       Pacific       PAC  /api/v1/divisions/15    True              5

In [18]:
renamed_columns_conferences = {
    'id': 'conference_id'
}
renamed_columns_divisions = {
    'id': 'division_id',
    'nameShort': 'abbreviation',
    'conference.id': 'conference_id'
}
df_conferences = df_conferences.rename(columns=renamed_columns_conferences)
df_divisions = df_divisions.rename(columns=renamed_columns_divisions)

In [19]:
df_conferences

   conference_id     name                   link abbreviation  active
0              6  Eastern  /api/v1/conferences/6            E    True
1              5  Western  /api/v1/conferences/5            W    True

In [20]:
df_divisions

,division_id,name,abbreviation,link,active,conference_id
0,17,Atlantic,ATL,/api/v1/divisions/17,True,6
1,16,Central,CEN,/api/v1/divisions/16,True,5
2,18,Metropolitan,Metro,/api/v1/divisions/18,True,6
3,15,Pacific,PAC,/api/v1/divisions/15,True,5

In [21]:
payload_conferences_info = df_conferences.to_dict(orient='records')
payload_divisions_info = df_divisions.to_dict(orient='records')

In [22]:
payload_conferences_info

[{'conference_id': 6,
  'name': 'Eastern',
  'link': '/api/v1/conferences/6',
  'abbreviation': 'E',
  'active': True},
 {'conference_id': 5,
  'name': 'Western',
  'link': '/api/v1/conferences/5',
  'abbreviation': 'W',
  'active': True}]

In [23]:
payload_divisions_info

[{'division_id': 17,
  'name': 'Atlantic',
  'abbreviation': 'ATL',
  'link': '/api/v1/divisions/17',
  'active': True,
  'conference_id': 6},
 {'division_id': 16,
  'name': 'Central',
  'abbreviation': 'CEN',
  'link': '/api/v1/divisions/16',
  'active': True,
  'conference_id': 5},
 {'division_id': 18,
  'name': 'Metropolitan',
  'abbreviation': 'Metro',
  'link': '/api/v1/divisions/18',
  'active': True,
  'conference_id': 6},
 {'division_id': 15,
  'name': 'Pacific',
  'abbreviation': 'PAC',
  'link': '/api/v1/divisions/15',
  'active': True,
  'conference_id': 5}]

In [24]:
title = '../cleaned_csv/0_conferencesAllDetailsCleaned.csv'
df_conferences.to_csv(title, index=True)

In [25]:
title = '../cleaned_csv/1_divisionsAllDetailsCleaned.csv'
df_divisions.to_csv(title, index=True)