### Import Dependencies

In [138]:
import pandas as pd
import numpy as np
import os

### Read CSV file.

In [139]:
df = pd.read_csv("../scraped_csv/team_rosters/20162017_team_roster.csv")
df

,jerseyNumber,person.id,person.fullName,person.link,position.code,position.name,position.type,position.abbreviation
0,18.0,8470599,Milan Michalek,/api/v1/people/8470599,L,Left Wing,Forward,LW
1,21.0,8470611,Eric Fehr,/api/v1/people/8470611,C,Center,Forward,C
2,11.0,8470619,Brian Boyle,/api/v1/people/8470619,C,Center,Forward,C
3,45.0,8471392,Roman Polak,/api/v1/people/8471392,D,Defenseman,Defenseman,D
4,48.0,8471436,Matt Hunwick,/api/v1/people/8471436,D,Defenseman,Defenseman,D
5,47.0,8473463,Leo Komarov,/api/v1/people/8473463,R,Right Wing,Forward,RW
6,21.0,8474037,James van Riemsdyk,/api/v1/people/8474037,L,Left Wing,Forward,LW
7,51.0,8474581,Jake Gardiner,/api/v1/people/8474581,D,Defenseman,Defenseman,D
8,17.0,8474709,Matt Martin,/api/v1/people/8474709,L,Left Wing,Forward,LW
9,18.0,8474727,Ben Smith,/api/v1/people/8474727,R,Right Wing,Forward,RW
10,21.0,8475098,Tyler Bozak,/api/v1/people/8475098,C,Center,Forward,C
11,91.0,8475172,Nazem Kadri,/api/v1/people/8475172,C,Center,Forward,C
12,NaN,8475180,Peter Holland,/api/v1/people/8475180,C,Center,Forward,C
13,51.0,8475278,Byron Froese,/api/v1/people/8475278,C,Center,Forward,C
14,52.0,8475716,Martin Marincin,/api/v1/people/8475716,D,Defenseman,Defenseman,D
15,18.0,8475786,Zach Hyman,/api/v1/people/8475786,L,Left Wing,Forward,LW
16,3.0,8476289,Alexey Marchenko,/api/v1/people/8476289,D,Defenseman,Defenseman,D
17,18.0,8476302,Frank Corrado,/api/v1/people/8476302,D,Defenseman,Defenseman,D
18,17.0,8476410,Josh Leivo,/api/v1/people/8476410,L,Left Wing,Forward,LW
19,23.0,8476495,Seth Griffith,/api/v1/people/8476495,C,Center,Forward,C
20,44.0,8476853,Morgan Rielly,/api/v1/people/8476853,D,Defenseman,Defenseman,D
21,36.0,8476941,Connor Carrick,/api/v1/people/8476941,D,Defenseman,Defenseman,D
22,28.0,8477015,Connor Brown,/api/v1/people/8477015,R,Right Wing,Forward,RW
23,38.0,8477512,Frederik Gauthier,/api/v1/people/8477512,C,Center,Forward,C
24,88.0,8477939,William Nylander,/api/v1/people/8477939,R,Right Wing,Forward,RW
25,42.0,8477953,Kasperi Kapanen,/api/v1/people/8477953,R,Right Wing,Forward,RW
26,41.0,8478373,Nikita Soshnikov,/api/v1/people/8478373,R,Right Wing,Forward,RW
27,16.0,8478483,Mitchell Marner,/api/v1/people/8478483,R,Right Wing,Forward,RW
28,34.0,8479318,Auston Matthews,/api/v1/people/8479318,C,Center,Forward,C
29,22.0,8479458,Nikita Zaitsev,/api/v1/people/8479458,D,Defenseman,Defenseman,D
30,35.0,8470147,Curtis McElhinney,/api/v1/people/8470147,G,Goalie,Goalie,G
31,31.0,8473523,Jhonas Enroth,/api/v1/people/8473523,G,Goalie,Goalie,G
32,31.0,8475883,Frederik Andersen,/api/v1/people/8475883,G,Goalie,Goalie,G
33,30.0,8477312,Antoine Bibeau,/api/v1/people/8477312,G,Goalie,Goalie,G

### Looking at dataset, there are a couple of things we need to do:
- Find and remove null values
- Remove the .0 at the end of the jersey numbers
- Delete the columns not fitting in the database schema
- Rename column names to align with database schema

So let's go ahead and do these tasks.

#### Find and remove null values

In [140]:
# find null values
df.isna()

,jerseyNumber,person.id,person.fullName,person.link,position.code,position.name,position.type,position.abbreviation
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,True,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False,False

Only one null value, thus it is acceptable to use the `dropna()` method.

In [141]:
df = df.dropna()

#### Remove the .0 at the end of jersey numbers

In [142]:
# Removing the .0 at the end of the jersey numbers
df['jerseyNumber'].dtype

dtype('float64')

The .0 exists as it is a float. We need to change the type to int.

In [143]:
df = df.astype({'jerseyNumber':np.int64})

#### Delete the columns not fitting in the database schema

In [144]:
df

,jerseyNumber,person.id,person.fullName,person.link,position.code,position.name,position.type,position.abbreviation
0,18,8470599,Milan Michalek,/api/v1/people/8470599,L,Left Wing,Forward,LW
1,21,8470611,Eric Fehr,/api/v1/people/8470611,C,Center,Forward,C
2,11,8470619,Brian Boyle,/api/v1/people/8470619,C,Center,Forward,C
3,45,8471392,Roman Polak,/api/v1/people/8471392,D,Defenseman,Defenseman,D
4,48,8471436,Matt Hunwick,/api/v1/people/8471436,D,Defenseman,Defenseman,D
5,47,8473463,Leo Komarov,/api/v1/people/8473463,R,Right Wing,Forward,RW
6,21,8474037,James van Riemsdyk,/api/v1/people/8474037,L,Left Wing,Forward,LW
7,51,8474581,Jake Gardiner,/api/v1/people/8474581,D,Defenseman,Defenseman,D
8,17,8474709,Matt Martin,/api/v1/people/8474709,L,Left Wing,Forward,LW
9,18,8474727,Ben Smith,/api/v1/people/8474727,R,Right Wing,Forward,RW
10,21,8475098,Tyler Bozak,/api/v1/people/8475098,C,Center,Forward,C
11,91,8475172,Nazem Kadri,/api/v1/people/8475172,C,Center,Forward,C
13,51,8475278,Byron Froese,/api/v1/people/8475278,C,Center,Forward,C
14,52,8475716,Martin Marincin,/api/v1/people/8475716,D,Defenseman,Defenseman,D
15,18,8475786,Zach Hyman,/api/v1/people/8475786,L,Left Wing,Forward,LW
16,3,8476289,Alexey Marchenko,/api/v1/people/8476289,D,Defenseman,Defenseman,D
17,18,8476302,Frank Corrado,/api/v1/people/8476302,D,Defenseman,Defenseman,D
18,17,8476410,Josh Leivo,/api/v1/people/8476410,L,Left Wing,Forward,LW
19,23,8476495,Seth Griffith,/api/v1/people/8476495,C,Center,Forward,C
20,44,8476853,Morgan Rielly,/api/v1/people/8476853,D,Defenseman,Defenseman,D
21,36,8476941,Connor Carrick,/api/v1/people/8476941,D,Defenseman,Defenseman,D
22,28,8477015,Connor Brown,/api/v1/people/8477015,R,Right Wing,Forward,RW
23,38,8477512,Frederik Gauthier,/api/v1/people/8477512,C,Center,Forward,C
24,88,8477939,William Nylander,/api/v1/people/8477939,R,Right Wing,Forward,RW
25,42,8477953,Kasperi Kapanen,/api/v1/people/8477953,R,Right Wing,Forward,RW
26,41,8478373,Nikita Soshnikov,/api/v1/people/8478373,R,Right Wing,Forward,RW
27,16,8478483,Mitchell Marner,/api/v1/people/8478483,R,Right Wing,Forward,RW
28,34,8479318,Auston Matthews,/api/v1/people/8479318,C,Center,Forward,C
29,22,8479458,Nikita Zaitsev,/api/v1/people/8479458,D,Defenseman,Defenseman,D
30,35,8470147,Curtis McElhinney,/api/v1/people/8470147,G,Goalie,Goalie,G
31,31,8473523,Jhonas Enroth,/api/v1/people/8473523,G,Goalie,Goalie,G
32,31,8475883,Frederik Andersen,/api/v1/people/8475883,G,Goalie,Goalie,G
33,30,8477312,Antoine Bibeau,/api/v1/people/8477312,G,Goalie,Goalie,G

In [145]:
dropped_columns = [
    'person.link', 
    'position.code', 
    'position.type',
    'position.abbreviation' 
]
df = df.drop(columns=dropped_columns)
df

    jerseyNumber  person.id     person.fullName position.name
0             18    8470599      Milan Michalek     Left Wing
1             21    8470611           Eric Fehr        Center
2             11    8470619         Brian Boyle        Center
3             45    8471392         Roman Polak    Defenseman
4             48    8471436        Matt Hunwick    Defenseman
5             47    8473463         Leo Komarov    Right Wing
6             21    8474037  James van Riemsdyk     Left Wing
7             51    8474581       Jake Gardiner    Defenseman
8             17    8474709         Matt Martin     Left Wing
9             18    8474727           Ben Smith    Right Wing
10            21    8475098         Tyler Bozak        Center
11            91    8475172         Nazem Kadri        Center
13            51    8475278        Byron Froese        Center
14            52    8475716     Martin Marincin    Defenseman
15            18    8475786          Zach Hyman     Left Wing
16             3    8476289    Alexey Marchenko    Defenseman
17            18    8476302       Frank Corrado    Defenseman
18            17    8476410          Josh Leivo     Left Wing
19            23    8476495       Seth Griffith        Center
20            44    8476853       Morgan Rielly    Defenseman
21            36    8476941      Connor Carrick    Defenseman
22            28    8477015        Connor Brown    Right Wing
23            38    8477512   Frederik Gauthier        Center
24            88    8477939    William Nylander    Right Wing
25            42    8477953     Kasperi Kapanen    Right Wing
26            41    8478373    Nikita Soshnikov    Right Wing
27            16    8478483     Mitchell Marner    Right Wing
28            34    8479318     Auston Matthews        Center
29            22    8479458      Nikita Zaitsev    Defenseman
30            35    8470147   Curtis McElhinney        Goalie
31            31    8473523       Jhonas Enroth        Goalie
32            31    8475883   Frederik Andersen        Goalie
33            30    8477312      Antoine Bibeau        Goalie

#### Rename column names to align with database schema

In [146]:
renamed_columns = {
    'person.id': 'apiID', 
    'person.fullName': 'name', 
    'position.name': 'position', 
}
df = df.rename(columns=renamed_columns)
df

    jerseyNumber    apiID                name    position
0             18  8470599      Milan Michalek   Left Wing
1             21  8470611           Eric Fehr      Center
2             11  8470619         Brian Boyle      Center
3             45  8471392         Roman Polak  Defenseman
4             48  8471436        Matt Hunwick  Defenseman
5             47  8473463         Leo Komarov  Right Wing
6             21  8474037  James van Riemsdyk   Left Wing
7             51  8474581       Jake Gardiner  Defenseman
8             17  8474709         Matt Martin   Left Wing
9             18  8474727           Ben Smith  Right Wing
10            21  8475098         Tyler Bozak      Center
11            91  8475172         Nazem Kadri      Center
13            51  8475278        Byron Froese      Center
14            52  8475716     Martin Marincin  Defenseman
15            18  8475786          Zach Hyman   Left Wing
16             3  8476289    Alexey Marchenko  Defenseman
17            18  8476302       Frank Corrado  Defenseman
18            17  8476410          Josh Leivo   Left Wing
19            23  8476495       Seth Griffith      Center
20            44  8476853       Morgan Rielly  Defenseman
21            36  8476941      Connor Carrick  Defenseman
22            28  8477015        Connor Brown  Right Wing
23            38  8477512   Frederik Gauthier      Center
24            88  8477939    William Nylander  Right Wing
25            42  8477953     Kasperi Kapanen  Right Wing
26            41  8478373    Nikita Soshnikov  Right Wing
27            16  8478483     Mitchell Marner  Right Wing
28            34  8479318     Auston Matthews      Center
29            22  8479458      Nikita Zaitsev  Defenseman
30            35  8470147   Curtis McElhinney      Goalie
31            31  8473523       Jhonas Enroth      Goalie
32            31  8475883   Frederik Andersen      Goalie
33            30  8477312      Antoine Bibeau      Goalie

### Creating extra columns

To make querying easier, we want to create two extra fields: 
- First Name
- Last Name

We will achieve this by:
- Getting full name list from dataframe
- Splitting full name into two lists: `firstName` and `lastName`
- Assigning the two lists as columns in the dataframe

Let's get started!

#### Getting full name list from dataframe

In [147]:
fullName = df['name'].tolist()
fullName

['Milan Michalek',
 'Eric Fehr',
 'Brian Boyle',
 'Roman Polak',
 'Matt Hunwick',
 'Leo Komarov',
 'James van Riemsdyk',
 'Jake Gardiner',
 'Matt Martin',
 'Ben Smith',
 'Tyler Bozak',
 'Nazem Kadri',
 'Byron Froese',
 'Martin Marincin',
 'Zach Hyman',
 'Alexey Marchenko',
 'Frank Corrado',
 'Josh Leivo',
 'Seth Griffith',
 'Morgan Rielly',
 'Connor Carrick',
 'Connor Brown',
 'Frederik Gauthier',
 'William Nylander',
 'Kasperi Kapanen',
 'Nikita Soshnikov',
 'Mitchell Marner',
 'Auston Matthews',
 'Nikita Zaitsev',
 'Curtis McElhinney',
 'Jhonas Enroth',
 'Frederik Andersen',
 'Antoine Bibeau']

#### Splitting full name into two lists: `firstName` and `lastName`

In [148]:
# making the two lists
firstName = list(map(lambda x: x.split(" ")[0], fullName))
print(firstName)
lastName = list(map(lambda x: x.split(" ")[1], fullName))
print(lastName)

['Milan', 'Eric', 'Brian', 'Roman', 'Matt', 'Leo', 'James', 'Jake', 'Matt', 'Ben', 'Tyler', 'Nazem', 'Byron', 'Martin', 'Zach', 'Alexey', 'Frank', 'Josh', 'Seth', 'Morgan', 'Connor', 'Connor', 'Frederik', 'William', 'Kasperi', 'Nikita', 'Mitchell', 'Auston', 'Nikita', 'Curtis', 'Jhonas', 'Frederik', 'Antoine']
['Michalek', 'Fehr', 'Boyle', 'Polak', 'Hunwick', 'Komarov', 'van', 'Gardiner', 'Martin', 'Smith', 'Bozak', 'Kadri', 'Froese', 'Marincin', 'Hyman', 'Marchenko', 'Corrado', 'Leivo', 'Griffith', 'Rielly', 'Carrick', 'Brown', 'Gauthier', 'Nylander', 'Kapanen', 'Soshnikov', 'Marner', 'Matthews', 'Zaitsev', 'McElhinney', 'Enroth', 'Andersen', 'Bibeau']

In [149]:
# assigning the two lists as columns in the dataframe
df['firstName'] = firstName
df['lastName'] = lastName
df

,jerseyNumber,apiID,name,position,firstName,lastName
0,18,8470599,Milan Michalek,Left Wing,Milan,Michalek
1,21,8470611,Eric Fehr,Center,Eric,Fehr
2,11,8470619,Brian Boyle,Center,Brian,Boyle
3,45,8471392,Roman Polak,Defenseman,Roman,Polak
4,48,8471436,Matt Hunwick,Defenseman,Matt,Hunwick
5,47,8473463,Leo Komarov,Right Wing,Leo,Komarov
6,21,8474037,James van Riemsdyk,Left Wing,James,van
7,51,8474581,Jake Gardiner,Defenseman,Jake,Gardiner
8,17,8474709,Matt Martin,Left Wing,Matt,Martin
9,18,8474727,Ben Smith,Right Wing,Ben,Smith
10,21,8475098,Tyler Bozak,Center,Tyler,Bozak
11,91,8475172,Nazem Kadri,Center,Nazem,Kadri
13,51,8475278,Byron Froese,Center,Byron,Froese
14,52,8475716,Martin Marincin,Defenseman,Martin,Marincin
15,18,8475786,Zach Hyman,Left Wing,Zach,Hyman
16,3,8476289,Alexey Marchenko,Defenseman,Alexey,Marchenko
17,18,8476302,Frank Corrado,Defenseman,Frank,Corrado
18,17,8476410,Josh Leivo,Left Wing,Josh,Leivo
19,23,8476495,Seth Griffith,Center,Seth,Griffith
20,44,8476853,Morgan Rielly,Defenseman,Morgan,Rielly
21,36,8476941,Connor Carrick,Defenseman,Connor,Carrick
22,28,8477015,Connor Brown,Right Wing,Connor,Brown
23,38,8477512,Frederik Gauthier,Center,Frederik,Gauthier
24,88,8477939,William Nylander,Right Wing,William,Nylander
25,42,8477953,Kasperi Kapanen,Right Wing,Kasperi,Kapanen
26,41,8478373,Nikita Soshnikov,Right Wing,Nikita,Soshnikov
27,16,8478483,Mitchell Marner,Right Wing,Mitchell,Marner
28,34,8479318,Auston Matthews,Center,Auston,Matthews
29,22,8479458,Nikita Zaitsev,Defenseman,Nikita,Zaitsev
30,35,8470147,Curtis McElhinney,Goalie,Curtis,McElhinney
31,31,8473523,Jhonas Enroth,Goalie,Jhonas,Enroth
32,31,8475883,Frederik Andersen,Goalie,Frederik,Andersen
33,30,8477312,Antoine Bibeau,Goalie,Antoine,Bibeau

### Lets check if the csv shows up as we want to in the format it will be inserted into the database in

In [150]:
payload = df.to_dict(orient='records')
payload
# y = {
#   "20162017": payload
# }
# y
# df = pd.DataFrame.from_dict(y)
# df

[{'jerseyNumber': 18,
  'apiID': 8470599,
  'name': 'Milan Michalek',
  'position': 'Left Wing',
  'firstName': 'Milan',
  'lastName': 'Michalek'},
 {'jerseyNumber': 21,
  'apiID': 8470611,
  'name': 'Eric Fehr',
  'position': 'Center',
  'firstName': 'Eric',
  'lastName': 'Fehr'},
 {'jerseyNumber': 11,
  'apiID': 8470619,
  'name': 'Brian Boyle',
  'position': 'Center',
  'firstName': 'Brian',
  'lastName': 'Boyle'},
 {'jerseyNumber': 45,
  'apiID': 8471392,
  'name': 'Roman Polak',
  'position': 'Defenseman',
  'firstName': 'Roman',
  'lastName': 'Polak'},
 {'jerseyNumber': 48,
  'apiID': 8471436,
  'name': 'Matt Hunwick',
  'position': 'Defenseman',
  'firstName': 'Matt',
  'lastName': 'Hunwick'},
 {'jerseyNumber': 47,
  'apiID': 8473463,
  'name': 'Leo Komarov',
  'position': 'Right Wing',
  'firstName': 'Leo',
  'lastName': 'Komarov'},
 {'jerseyNumber': 21,
  'apiID': 8474037,
  'name': 'James van Riemsdyk',
  'position': 'Left Wing',
  'firstName': 'James',
  'lastName': 'van'},
 {'jerseyNumber': 51,
  'apiID': 8474581,
  'name': 'Jake Gardiner',
  'position': 'Defenseman',
  'firstName': 'Jake',
  'lastName': 'Gardiner'},
 {'jerseyNumber': 17,
  'apiID': 8474709,
  'name': 'Matt Martin',
  'position': 'Left Wing',
  'firstName': 'Matt',
  'lastName': 'Martin'},
 {'jerseyNumber': 18,
  'apiID': 8474727,
  'name': 'Ben Smith',
  'position': 'Right Wing',
  'firstName': 'Ben',
  'lastName': 'Smith'},
 {'jerseyNumber': 21,
  'apiID': 8475098,
  'name': 'Tyler Bozak',
  'position': 'Center',
  'firstName': 'Tyler',
  'lastName': 'Bozak'},
 {'jerseyNumber': 91,
  'apiID': 8475172,
  'name': 'Nazem Kadri',
  'position': 'Center',
  'firstName': 'Nazem',
  'lastName': 'Kadri'},
 {'jerseyNumber': 51,
  'apiID': 8475278,
  'name': 'Byron Froese',
  'position': 'Center',
  'firstName': 'Byron',
  'lastName': 'Froese'},
 {'jerseyNumber': 52,
  'apiID': 8475716,
  'name': 'Martin Marincin',
  'position': 'Defenseman',
  'firstName': 'Martin',
  'lastName': 'Marincin'},
 {'jerseyNumber': 18,
  'apiID': 8475786,
  'name': 'Zach Hyman',
  'position': 'Left Wing',
  'firstName': 'Zach',
  'lastName': 'Hyman'},
 {'jerseyNumber': 3,
  'apiID': 8476289,
  'name': 'Alexey Marchenko',
  'position': 'Defenseman',
  'firstName': 'Alexey',
  'lastName': 'Marchenko'},
 {'jerseyNumber': 18,
  'apiID': 8476302,
  'name': 'Frank Corrado',
  'position': 'Defenseman',
  'firstName': 'Frank',
  'lastName': 'Corrado'},
 {'jerseyNumber': 17,
  'apiID': 8476410,
  'name': 'Josh Leivo',
  'position': 'Left Wing',
  'firstName': 'Josh',
  'lastName': 'Leivo'},
 {'jerseyNumber': 23,
  'apiID': 8476495,
  'name': 'Seth Griffith',
  'position': 'Center',
  'firstName': 'Seth',
  'lastName': 'Griffith'},
 {'jerseyNumber': 44,
  'apiID': 8476853,
  'name': 'Morgan Rielly',
  'position': 'Defenseman',
  'firstName': 'Morgan',
  'lastName': 'Rielly'},
 {'jerseyNumber': 36,
  'apiID': 8476941,
  'name': 'Connor Carrick',
  'position': 'Defenseman',
  'firstName': 'Connor',
  'lastName': 'Carrick'},
 {'jerseyNumber': 28,
  'apiID': 8477015,
  'name': 'Connor Brown',
  'position': 'Right Wing',
  'firstName': 'Connor',
  'lastName': 'Brown'},
 {'jerseyNumber': 38,
  'apiID': 8477512,
  'name': 'Frederik Gauthier',
  'position': 'Center',
  'firstName': 'Frederik',
  'lastName': 'Gauthier'},
 {'jerseyNumber': 88,
  'apiID': 8477939,
  'name': 'William Nylander',
  'position': 'Right Wing',
  'firstName': 'William',
  'lastName': 'Nylander'},
 {'jerseyNumber': 42,
  'apiID': 8477953,
  'name': 'Kasperi Kapanen',
  'position': 'Right Wing',
  'firstName': 'Kasperi',
  'lastName': 'Kapanen'},
 {'jerseyNumber': 41,
  'apiID': 8478373,
  'name': 'Nikita Soshnikov',
  'position': 'Right Wing',
  'firstName': 'Nikita',
  'lastName': 'Soshnikov'},
 {'jerseyNumber': 16,
  'apiID': 8478483,
  'name': 'Mitchell Marner',
  'position': 'Right Wing',
  'firstName': 'Mitchell',
  'lastName': 'Marner'},
 {'jerseyNumber': 34,
  'apiID': 8479318,
  'name': 'Auston Matthews',
  'position': 'Center',
  'firstName': 'Auston',
  'lastName': 'Matthews'},
 {'jerseyNumber': 22,
  'apiID': 8479458,
  'name': 'Nikita Zaitsev',
  'position': 'Defenseman',
  'firstName': 'Nikita',
  'lastName': 'Zaitsev'},
 {'jerseyNumber': 35,
  'apiID': 8470147,
  'name': 'Curtis McElhinney',
  'position': 'Goalie',
  'firstName': 'Curtis',
  'lastName': 'McElhinney'},
 {'jerseyNumber': 31,
  'apiID': 8473523,
  'name': 'Jhonas Enroth',
  'position': 'Goalie',
  'firstName': 'Jhonas',
  'lastName': 'Enroth'},
 {'jerseyNumber': 31,
  'apiID': 8475883,
  'name': 'Frederik Andersen',
  'position': 'Goalie',
  'firstName': 'Frederik',
  'lastName': 'Andersen'},
 {'jerseyNumber': 30,
  'apiID': 8477312,
  'name': 'Antoine Bibeau',
  'position': 'Goalie',
  'firstName': 'Antoine',
  'lastName': 'Bibeau'}]

Clearly it does.

### Now, we need to apply the above modifications to all the other roster datasets and then combine them all into one csv file to fit the database schema.

#### This will be done by making a general function and then looping through it to connect all the datasets that:
- Applies modifications to each dataset
- Merges all the datasets together with their year number to fit database schema.

In [163]:
# making function

def cleaning_dataset(dataframe): 
    df = pd.read_csv(dataframe)

    df = df.dropna()
    
    df = df.astype({'jerseyNumber':np.int64})

    dropped_columns = [
        'person.link', 
        'position.code', 
        'position.type',
        'position.abbreviation' 
    ]
    df = df.drop(columns=dropped_columns)

    renamed_columns = {
        'person.id': 'apiID', 
        'person.fullName': 'name', 
        'position.name': 'position', 
    }
    df = df.rename(columns=renamed_columns)

    fullName = df['name'].tolist()
    firstName = list(map(lambda x: x.split(" ")[0], fullName))
    lastName = list(map(lambda x: x.split(" ")[1], fullName))
    df['firstName'] = firstName
    df['lastName'] = lastName

    return df.to_dict(orient='records')

In [178]:
# get list of all roster datasets
roster_datasets_seasons = list(map(lambda x: x.split("_")[0], os.listdir("../scraped_csv/team_rosters/")))
roster_datasets_seasons

['20162017',
 '20172018',
 '20182019',
 '20192020',
 '20202021',
 '20212022',
 '20222023',
 '20232024']

In [192]:
# do this for every roster dataset
all_rosters = {}
for season in roster_datasets_seasons:
    all_rosters[f'{season}'] = cleaning_dataset(f"../scraped_csv/team_rosters/{season}_team_roster.csv")
df = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in all_rosters.items() ]))
df

,20162017,20172018,20182019,20192020,20202021,20212022,20222023,20232024
0,"{'jerseyNumber': 18, 'apiID': 8470599, 'name':...","{'jerseyNumber': 12, 'apiID': 8466139, 'name':...","{'jerseyNumber': 12, 'apiID': 8466139, 'name':...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 19, 'apiID': 8466138, 'name':...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ..."
1,"{'jerseyNumber': 21, 'apiID': 8470611, 'name':...","{'jerseyNumber': 81, 'apiID': 8468493, 'name':...","{'jerseyNumber': 81, 'apiID': 8468493, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':..."
2,"{'jerseyNumber': 11, 'apiID': 8470619, 'name':...","{'jerseyNumber': 20, 'apiID': 8468575, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 17, 'apiID': 8473422, 'name':...","{'jerseyNumber': 33, 'apiID': 8473415, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':..."
3,"{'jerseyNumber': 45, 'apiID': 8471392, 'name':...","{'jerseyNumber': 14, 'apiID': 8469521, 'name':...","{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 2, 'apiID': 8474568, 'name': ...","{'jerseyNumber': 75, 'apiID': 8471817, 'name':..."
4,"{'jerseyNumber': 48, 'apiID': 8471436, 'name':...","{'jerseyNumber': 21, 'apiID': 8470611, 'name':...","{'jerseyNumber': 63, 'apiID': 8474589, 'name':...","{'jerseyNumber': 22, 'apiID': 8475197, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':..."
5,"{'jerseyNumber': 47, 'apiID': 8473463, 'name':...","{'jerseyNumber': 45, 'apiID': 8471392, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 24, 'apiID': 8474567, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 18, 'apiID': 8474818, 'name':...","{'jerseyNumber': 31, 'apiID': 8474889, 'name':..."
6,"{'jerseyNumber': 21, 'apiID': 8474037, 'name':...","{'jerseyNumber': 47, 'apiID': 8473463, 'name':...","{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 90, 'apiID': 8475158, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':..."
7,"{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 21, 'apiID': 8474037, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':..."
8,"{'jerseyNumber': 17, 'apiID': 8474709, 'name':...","{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 5, 'apiID': 8475857, 'name': ...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 19, 'apiID': 8475714, 'name':..."
9,"{'jerseyNumber': 18, 'apiID': 8474727, 'name':...","{'jerseyNumber': 17, 'apiID': 8474709, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 21, 'apiID': 8476406, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 43, 'apiID': 8476278, 'name':...","{'jerseyNumber': 19, 'apiID': 8475714, 'name':...","{'jerseyNumber': 3, 'apiID': 8475906, 'name': ..."
10,"{'jerseyNumber': 21, 'apiID': 8475098, 'name':...","{'jerseyNumber': 21, 'apiID': 8475098, 'name':...","{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 18, 'apiID': 8475844, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':..."
11,"{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 46, 'apiID': 8476857, 'name':...","{'jerseyNumber': 72, 'apiID': 8476329, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 22, 'apiID': 8476931, 'name':..."
12,"{'jerseyNumber': 51, 'apiID': 8475278, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 5, 'apiID': 8476879, 'name': ...","{'jerseyNumber': 23, 'apiID': 8476474, 'name':...","{'jerseyNumber': 48, 'apiID': 8477472, 'name':...","{'jerseyNumber': 22, 'apiID': 8476931, 'name':...","{'jerseyNumber': 59, 'apiID': 8477479, 'name':..."
13,"{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 17, 'apiID': 8476851, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 56, 'apiID': 8476979, 'name':...","{'jerseyNumber': 11, 'apiID': 8477503, 'name':..."
14,"{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 27, 'apiID': 8477941, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':..."
15,"{'jerseyNumber': 3, 'apiID': 8476289, 'name': ...","{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 26, 'apiID': 8476918, 'name':...","{'jerseyNumber': 22, 'apiID': 8478020, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 85, 'apiID': 8478021, 'name':..."
16,"{'jerseyNumber': 18, 'apiID': 8476302, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 17, 'apiID': 8477018, 'name':...","{'jerseyNumber': 58, 'apiID': 8478047, 'name':...","{'jerseyNumber': 96, 'apiID': 8477979, 'name':...","{'jerseyNumber': 28, 'apiID': 8478043, 'name':..."
17,"{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 36, 'apiID': 8476941, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 28, 'apiID': 8478043, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':..."
18,"{'jerseyNumber': 23, 'apiID': 8476495, 'name':...","{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 49, 'apiID': 8477149, 'name':...","{'jerseyNumber': 73, 'apiID': 8478131, 'name':...","{'jerseyNumber': 58, 'apiID': 8478047, 'name':...","{'jerseyNumber': 35, 'apiID': 8478492, 'name':..."
19,"{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':..."
20,"{'jerseyNumber': 36, 'apiID': 8476941, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 20, 'apiID': 8478211, 'name':...","{'jerseyNumber': 48, 'apiID': 8479320, 'name':..."
21,"{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 62, 'apiID': 8478881, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 60, 'apiID': 8479361, 'name':..."
22,"{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 12, 'apiID': 8479675, 'name':...","{'jerseyNumber': 81, 'apiID': 8478843, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 55, 'apiID': 8478569, 'name':...","{'jerseyNumber': 57, 'apiID': 8479580, 'name':..."
23,"{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 41, 'apiID': 8478373, 'name':...","{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 41, 'apiID': 8478857, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 81, 'apiID': 8478843, 'name':...","{'jerseyNumber': 25, 'apiID': 8479982, 'name':..."
24,"{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 92, 'apiID': 8480943, 'name':...","{'jerseyNumber': 27, 'apiID': 8478975, 'name':...","{'jerseyNumber': 22, 'apiID': 8478996, 'name':...","{'jerseyNumber': 68, 'apiID': 8479729, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':..."
25,"{'jerseyNumber': 41, 'apiID': 8478373, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 26, 'apiID': 8480944, 'name':...","{'jerseyNumber': 22, 'apiID': 8478996, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':..."
26,"{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':...","{'jerseyNumber': 98, 'apiID': 8479376, 'name':...","{'jerseyNumber': 29, 'apiID': 8480995, 'name':..."
27,"{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 96, 'apiID': 8479510, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 12, 'apiID': 8479944, 'name':...","{'jerseyNumber': 2, 'apiID': 8481122, 'name': ..."
28,"{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 80, 'apiID': 8476343, 'name':...","{'jerseyNumber': 12, 'apiID': 8479675, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 46, 'apiID': 8480950, 'name':...","{'jerseyNumber': 25, 'apiID': 8479982, 'name':...","{'jerseyNumber': 84, 'apiID': 8481614, 'name':..."
29,"{'jerseyNumber': 35, 'apiID': 8470147, 'name':...","{'jerseyNumber': 6, 'apiID': 8480158, 'name': ...",NaN,"{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 74, 'apiID': 8482259, 'name':..."
30,"{'jerseyNumber': 31, 'apiID': 8473523, 'name':...","{'jerseyNumber': 35, 'apiID': 8470147, 'name':...",NaN,"{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':...","{'jerseyNumber': 23, 'apiID': 8482720, 'name':..."
31,"{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 30, 'apiID': 8475717, 'name':...",NaN,"{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 94, 'apiID': 8482222, 'name':...","{'jerseyNumber': 26, 'apiID': 8481720, 'name':...","{'jerseyNumber': 81, 'apiID': 8480439, 'name':...","{'jerseyNumber': 39, 'apiID': 8483489, 'name':..."
32,"{'jerseyNumber': 30, 'apiID': 8477312, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...",NaN,"{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 43, 'apiID': 8482247, 'name':...","{'jerseyNumber': 46, 'apiID': 8482634, 'name':...","{'jerseyNumber': 82, 'apiID': 8480820, 'name':...","{'jerseyNumber': 53, 'apiID': 8484158, 'name':..."
33,NaN,NaN,NaN,"{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 18, 'apiID': 8474062, 'name':...","{'jerseyNumber': 94, 'apiID': 8482815, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...",NaN
34,NaN,NaN,NaN,"{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 85, 'apiID': 8480977, 'name':...",NaN
35,NaN,NaN,NaN,"{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 29, 'apiID': 8480995, 'name':...",NaN
36,NaN,NaN,NaN,"{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 34, 'apiID': 8475852, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...",NaN
37,NaN,NaN,NaN,"{'jerseyNumber': 73, 'apiID': 8479288, 'name':...","{'jerseyNumber': 31, 'apiID': 8479496, 'name':...","{'jerseyNumber': 50, 'apiID': 8478902, 'name':...","{'jerseyNumber': 26, 'apiID': 8481720, 'name':...",NaN
38,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 60, 'apiID': 8479361, 'name':...","{'jerseyNumber': 63, 'apiID': 8482241, 'name':...",NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 74, 'apiID': 8482259, 'name':...",NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 46, 'apiID': 8482634, 'name':...",NaN
41,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 23, 'apiID': 8482720, 'name':...",NaN
42,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 30, 'apiID': 8476899, 'name':...",NaN
43,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 35, 'apiID': 8478492, 'name':...",NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 50, 'apiID': 8478902, 'name':...",NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,"{'jerseyNumber': 60, 'apiID': 8479361, 'name':...",NaN

In [193]:
# replace NaN with 0
df = df.replace(np.NaN, 0)
df

,20162017,20172018,20182019,20192020,20202021,20212022,20222023,20232024
0,"{'jerseyNumber': 18, 'apiID': 8470599, 'name':...","{'jerseyNumber': 12, 'apiID': 8466139, 'name':...","{'jerseyNumber': 12, 'apiID': 8466139, 'name':...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 19, 'apiID': 8466138, 'name':...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ..."
1,"{'jerseyNumber': 21, 'apiID': 8470611, 'name':...","{'jerseyNumber': 81, 'apiID': 8468493, 'name':...","{'jerseyNumber': 81, 'apiID': 8468493, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 19, 'apiID': 8469455, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':..."
2,"{'jerseyNumber': 11, 'apiID': 8470619, 'name':...","{'jerseyNumber': 20, 'apiID': 8468575, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 17, 'apiID': 8473422, 'name':...","{'jerseyNumber': 33, 'apiID': 8473415, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 55, 'apiID': 8470966, 'name':..."
3,"{'jerseyNumber': 45, 'apiID': 8471392, 'name':...","{'jerseyNumber': 14, 'apiID': 8469521, 'name':...","{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 8, 'apiID': 8474162, 'name': ...","{'jerseyNumber': 2, 'apiID': 8474568, 'name': ...","{'jerseyNumber': 75, 'apiID': 8471817, 'name':..."
4,"{'jerseyNumber': 48, 'apiID': 8471436, 'name':...","{'jerseyNumber': 21, 'apiID': 8470611, 'name':...","{'jerseyNumber': 63, 'apiID': 8474589, 'name':...","{'jerseyNumber': 22, 'apiID': 8475197, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 24, 'apiID': 8474190, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':..."
5,"{'jerseyNumber': 47, 'apiID': 8473463, 'name':...","{'jerseyNumber': 45, 'apiID': 8471392, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 24, 'apiID': 8474567, 'name':...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 18, 'apiID': 8474818, 'name':...","{'jerseyNumber': 31, 'apiID': 8474889, 'name':..."
6,"{'jerseyNumber': 21, 'apiID': 8474037, 'name':...","{'jerseyNumber': 47, 'apiID': 8473463, 'name':...","{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 78, 'apiID': 8474673, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 90, 'apiID': 8475158, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':..."
7,"{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 21, 'apiID': 8474037, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 43, 'apiID': 8475160, 'name':...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':..."
8,"{'jerseyNumber': 17, 'apiID': 8474709, 'name':...","{'jerseyNumber': 51, 'apiID': 8474581, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 5, 'apiID': 8475857, 'name': ...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 91, 'apiID': 8475166, 'name':...","{'jerseyNumber': 19, 'apiID': 8475714, 'name':..."
9,"{'jerseyNumber': 18, 'apiID': 8474727, 'name':...","{'jerseyNumber': 17, 'apiID': 8474709, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 21, 'apiID': 8476406, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 43, 'apiID': 8476278, 'name':...","{'jerseyNumber': 19, 'apiID': 8475714, 'name':...","{'jerseyNumber': 3, 'apiID': 8475906, 'name': ..."
10,"{'jerseyNumber': 21, 'apiID': 8475098, 'name':...","{'jerseyNumber': 21, 'apiID': 8475098, 'name':...","{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 18, 'apiID': 8475844, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':..."
11,"{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 91, 'apiID': 8475172, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 46, 'apiID': 8476857, 'name':...","{'jerseyNumber': 72, 'apiID': 8476329, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 22, 'apiID': 8476931, 'name':..."
12,"{'jerseyNumber': 51, 'apiID': 8475278, 'name':...","{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 5, 'apiID': 8476879, 'name': ...","{'jerseyNumber': 23, 'apiID': 8476474, 'name':...","{'jerseyNumber': 48, 'apiID': 8477472, 'name':...","{'jerseyNumber': 22, 'apiID': 8476931, 'name':...","{'jerseyNumber': 59, 'apiID': 8477479, 'name':..."
13,"{'jerseyNumber': 52, 'apiID': 8475716, 'name':...","{'jerseyNumber': 3, 'apiID': 8475718, 'name': ...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 17, 'apiID': 8476851, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 56, 'apiID': 8476979, 'name':...","{'jerseyNumber': 11, 'apiID': 8477503, 'name':..."
14,"{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 18, 'apiID': 8475786, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 27, 'apiID': 8477941, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':..."
15,"{'jerseyNumber': 3, 'apiID': 8476289, 'name': ...","{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 26, 'apiID': 8476918, 'name':...","{'jerseyNumber': 22, 'apiID': 8478020, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 85, 'apiID': 8478021, 'name':..."
16,"{'jerseyNumber': 18, 'apiID': 8476302, 'name':...","{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 17, 'apiID': 8477018, 'name':...","{'jerseyNumber': 58, 'apiID': 8478047, 'name':...","{'jerseyNumber': 96, 'apiID': 8477979, 'name':...","{'jerseyNumber': 28, 'apiID': 8478043, 'name':..."
17,"{'jerseyNumber': 17, 'apiID': 8476410, 'name':...","{'jerseyNumber': 36, 'apiID': 8476941, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 15, 'apiID': 8477021, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 28, 'apiID': 8478043, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':..."
18,"{'jerseyNumber': 23, 'apiID': 8476495, 'name':...","{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 49, 'apiID': 8477149, 'name':...","{'jerseyNumber': 73, 'apiID': 8478131, 'name':...","{'jerseyNumber': 58, 'apiID': 8478047, 'name':...","{'jerseyNumber': 35, 'apiID': 8478492, 'name':..."
19,"{'jerseyNumber': 44, 'apiID': 8476853, 'name':...","{'jerseyNumber': 18, 'apiID': 8477341, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 19, 'apiID': 8477464, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':..."
20,"{'jerseyNumber': 36, 'apiID': 8476941, 'name':...","{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 20, 'apiID': 8478211, 'name':...","{'jerseyNumber': 48, 'apiID': 8479320, 'name':..."
21,"{'jerseyNumber': 28, 'apiID': 8477015, 'name':...","{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 18, 'apiID': 8478115, 'name':...","{'jerseyNumber': 62, 'apiID': 8478881, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 60, 'apiID': 8479361, 'name':..."
22,"{'jerseyNumber': 38, 'apiID': 8477512, 'name':...","{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 12, 'apiID': 8479675, 'name':...","{'jerseyNumber': 81, 'apiID': 8478843, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 55, 'apiID': 8478569, 'name':...","{'jerseyNumber': 57, 'apiID': 8479580, 'name':..."
23,"{'jerseyNumber': 88, 'apiID': 8477939, 'name':...","{'jerseyNumber': 41, 'apiID': 8478373, 'name':...","{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 41, 'apiID': 8478857, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 81, 'apiID': 8478843, 'name':...","{'jerseyNumber': 25, 'apiID': 8479982, 'name':..."
24,"{'jerseyNumber': 42, 'apiID': 8477953, 'name':...","{'jerseyNumber': 33, 'apiID': 8478408, 'name':...","{'jerseyNumber': 92, 'apiID': 8480943, 'name':...","{'jerseyNumber': 27, 'apiID': 8478975, 'name':...","{'jerseyNumber': 22, 'apiID': 8478996, 'name':...","{'jerseyNumber': 68, 'apiID': 8479729, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':..."
25,"{'jerseyNumber': 41, 'apiID': 8478373, 'name':...","{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 26, 'apiID': 8480944, 'name':...","{'jerseyNumber': 22, 'apiID': 8478996, 'name':...","{'jerseyNumber': 15, 'apiID': 8479315, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':..."
26,"{'jerseyNumber': 16, 'apiID': 8478483, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':...","{'jerseyNumber': 98, 'apiID': 8479376, 'name':...","{'jerseyNumber': 29, 'apiID': 8480995, 'name':..."
27,"{'jerseyNumber': 34, 'apiID': 8479318, 'name':...","{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 96, 'apiID': 8479510, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 12, 'apiID': 8479944, 'name':...","{'jerseyNumber': 2, 'apiID': 8481122, 'name': ..."
28,"{'jerseyNumber': 22, 'apiID': 8479458, 'name':...","{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 80, 'apiID': 8476343, 'name':...","{'jerseyNumber': 12, 'apiID': 8479675, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 46, 'apiID': 8480950, 'name':...","{'jerseyNumber': 25, 'apiID': 8479982, 'name':...","{'jerseyNumber': 84, 'apiID': 8481614, 'name':..."
29,"{'jerseyNumber': 35, 'apiID': 8470147, 'name':...","{'jerseyNumber': 6, 'apiID': 8480158, 'name': ...",0,"{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 37, 'apiID': 8480043, 'name':...","{'jerseyNumber': 74, 'apiID': 8482259, 'name':..."
30,"{'jerseyNumber': 31, 'apiID': 8473523, 'name':...","{'jerseyNumber': 35, 'apiID': 8470147, 'name':...",0,"{'jerseyNumber': 43, 'apiID': 8480157, 'name':...","{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 64, 'apiID': 8480144, 'name':...","{'jerseyNumber': 23, 'apiID': 8482720, 'name':..."
31,"{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 30, 'apiID': 8475717, 'name':...",0,"{'jerseyNumber': 38, 'apiID': 8480873, 'name':...","{'jerseyNumber': 94, 'apiID': 8482222, 'name':...","{'jerseyNumber': 26, 'apiID': 8481720, 'name':...","{'jerseyNumber': 81, 'apiID': 8480439, 'name':...","{'jerseyNumber': 39, 'apiID': 8483489, 'name':..."
32,"{'jerseyNumber': 30, 'apiID': 8477312, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...",0,"{'jerseyNumber': 65, 'apiID': 8481624, 'name':...","{'jerseyNumber': 43, 'apiID': 8482247, 'name':...","{'jerseyNumber': 46, 'apiID': 8482634, 'name':...","{'jerseyNumber': 82, 'apiID': 8480820, 'name':...","{'jerseyNumber': 53, 'apiID': 8484158, 'name':..."
33,0,0,0,"{'jerseyNumber': 89, 'apiID': 8481582, 'name':...","{'jerseyNumber': 18, 'apiID': 8474062, 'name':...","{'jerseyNumber': 94, 'apiID': 8482815, 'name':...","{'jerseyNumber': 38, 'apiID': 8480873, 'name':...",0
34,0,0,0,"{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 31, 'apiID': 8474636, 'name':...","{'jerseyNumber': 85, 'apiID': 8480977, 'name':...",0
35,0,0,0,"{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 36, 'apiID': 8475789, 'name':...","{'jerseyNumber': 29, 'apiID': 8480995, 'name':...",0
36,0,0,0,"{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 31, 'apiID': 8475883, 'name':...","{'jerseyNumber': 34, 'apiID': 8475852, 'name':...","{'jerseyNumber': 89, 'apiID': 8481582, 'name':...",0
37,0,0,0,"{'jerseyNumber': 73, 'apiID': 8479288, 'name':...","{'jerseyNumber': 31, 'apiID': 8479496, 'name':...","{'jerseyNumber': 50, 'apiID': 8478902, 'name':...","{'jerseyNumber': 26, 'apiID': 8481720, 'name':...",0
38,0,0,0,0,0,"{'jerseyNumber': 60, 'apiID': 8479361, 'name':...","{'jerseyNumber': 63, 'apiID': 8482241, 'name':...",0
39,0,0,0,0,0,0,"{'jerseyNumber': 74, 'apiID': 8482259, 'name':...",0
40,0,0,0,0,0,0,"{'jerseyNumber': 46, 'apiID': 8482634, 'name':...",0
41,0,0,0,0,0,0,"{'jerseyNumber': 23, 'apiID': 8482720, 'name':...",0
42,0,0,0,0,0,0,"{'jerseyNumber': 30, 'apiID': 8476899, 'name':...",0
43,0,0,0,0,0,0,"{'jerseyNumber': 35, 'apiID': 8478492, 'name':...",0
44,0,0,0,0,0,0,"{'jerseyNumber': 50, 'apiID': 8478902, 'name':...",0
45,0,0,0,0,0,0,"{'jerseyNumber': 60, 'apiID': 8479361, 'name':...",0

### Lets finally export the cleansed dataframe into a csv file

In [194]:
title = '../cleaned_csv/teamAllRosterDetailsCleaned.csv'
df.to_csv(title, index=False)